body > main > section.splash.home > div {
    align-items: center;
    color: #007acc;
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', 'Nanum Gothic Coding', sans-serif;
    font-weight: 200;
    justify-content: center;
}

body > main > section.splash.home > div > h1 {
    font-size: 10rem;
    font-weight: 600;
}

body > main > section.splash.home > div > h2 {
    font-size: 4rem;
}