body > header {
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10rem -0.5rem rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin: 4rem;
    position: fixed;
    z-index: 9;
}

body > header > ul > li > img {
    width: 3rem;
    cursor: pointer;
    margin: 1rem;
    -webkit-user-drag: none;
}