body > main > section.splash {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #3f3f3f;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
}

body > main > section.splash > div.container {
    width: 70%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 5rem;
    box-sizing: border-box;
    box-shadow: 0 0 5rem 0.5rem rgba(0, 0, 0, 1);
    padding: 5rem;
}